@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
.dialog-off-canvas-main-canvas[data-off-canvas-main-canvas] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dialog-off-canvas-main-canvas[data-off-canvas-main-canvas]  .page-wrapper {
  max-width: 100%;
}
body {
  /*overflow: hidden;*/
  background-size: cover;
  background-position: center center;
  background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(79,30,37,1) 24.5%, rgba(31,9,31,0.9) 66% );
}
header,
footer,
h1,
h2 {
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
}
#content {
  /*max-width: 600px;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.book_reviews_form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
