@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
.dialog-off-canvas-main-canvas[data-off-canvas-main-canvas] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dialog-off-canvas-main-canvas[data-off-canvas-main-canvas]  .page-wrapper,
.dialog-off-canvas-main-canvas[data-off-canvas-main-canvas]  .container {
  max-width: 100%;
}
body {
  background-size: cover;
  background-position: center center;
}
h1.page-title,
h2 {
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.book_reviews_form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.book_name_created_wrapper,
.book_email_wrapper,
.book_phone_wrapper {
  display: flex;
}
.book_prefixes {
  margin: 0 5px;
}
.book_email,
.book_phone {
  margin-right: 5px;
}
.book_avatar img {
  max-width: 150px;
}
.book_image img.img-fluid {
  max-width: 300px;
}
.book_table-basic {
  min-width: 325px;
  max-width: 325px;
}
.book_table {
  display: flex;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}
.book_table p {
  margin-bottom: 0;
}
.book_table-basic .book_item {
  word-break: break-all;
}
.book_label {
  word-break: keep-all;
}
.book_item.book_name {
  max-width: 90px;
}
.book_item.book_name,
.book_email_wrapper .field {
  word-break: break-all;
}
.book_created .field {
  border-bottom: 1px solid #0c0d0e;
}
#book_reviews,
#form_wrapper {
  font-family: 'PT Sans Narrow', sans-serif;
}
@media (min-width: 491px) {
  .book_image {
    max-width: 400px;
    margin: 20px 0;
  }
}
@media (max-width: 490px) {
  .book_image {
    max-width: 180px;
  }
}
.book_administer_buttons {
  margin-top: auto;
}
.book_administer {
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 6px;
  color: #212529;
  background-color: #ffc107;
  border: 2px outset #ffc107;
  text-decoration: none;
}
.book_table-main {
  display: flex;
  flex-direction: column;
}
.book_container {
  max-width: 980px;
  margin: 0 auto;
}
.book_avatar_wrapper,
.book_review_wrapper,
.book_image_wrapper {
  list-style: none;
}
.book_review .book_label,
.book_avatar .book_label,
.book_image .book_label {
  display: none;
}
